## Preliminaries

#### Datetime

In [15]:
from datetime import datetime as dt 
now = dt.now()
print("Analysis on", now.strftime('%Y-%m-%d'), "at", now.strftime('%H:%M %p'))

Analysis on 2023-08-09 at 21:10 PM

#### Establish CWD

Identifying the current working directory from which the data is stored:

In [16]:
import os 
os.getcwd()

'/Users/chasecarlson/Documents/GSCM Course Materials/GSCM 575 Machine Learning in Business/Python Pjojects/GSCM-575-ML/code'

#### Import libraries

Import the following core libraries to support the analysis:

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## About the Data

#### About Dataset

This dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies. The dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. The data is used to build classification models to predict students' dropout and academic success. The problem is formulated as a three-category classification task, in which there is a strong imbalance towards one of the classes.

#### Data Attributes

| Column name                  | Description                                                                                          |
|-----------------------------|------------------------------------------------------------------------------------------------------|
| Marital status              | The marital status of the student. (Categorical)                                                    |
| Application mode            | The method of application used by the student. (Categorical)                                        |
| Application order           | The order in which the student applied. (Numerical)                                                 |
| Course                      | The course taken by the student. (Categorical)                                                      |
| Daytime/evening attendance  | Whether the student attends classes during the day or in the evening. (Categorical)                |
| Previous qualification      | The qualification obtained by the student before enrolling in higher education. (Categorical)        |
| Nationality                 | The nationality of the student. (Categorical)                                                        |
| Mother's qualification      | The qualification of the student's mother. (Categorical)                                             |
| Father's qualification      | The qualification of the student's father. (Categorical)                                             |
| Mother's occupation         | The occupation of the student's mother. (Categorical)                                                |
| Father's occupation         | The occupation of the student's father. (Categorical)                                                |
| Displaced                   | Whether the student is a displaced person. (Categorical)                                             |
| Educational special needs   | Whether the student has any special educational needs. (Categorical)                                 |
| Debtor                      | Whether the student is a debtor. (Categorical)                                                        |
| Tuition fees up to date     | Whether the student's tuition fees are up to date. (Categorical)                                     |
| Gender                      | The gender of the student. (Categorical)                                                              |
| Scholarship holder          | Whether the student is a scholarship holder. (Categorical)                                            |
| Age at enrollment           | The age of the student at the time of enrollment. (Numerical)                                         |
| International               | Whether the student is an international student. (Categorical)                                        |
| Curricular units 1st sem (credited)   | The number of curricular units credited by the student in the first semester. (Numerical)       |
| Curricular units 1st sem (enrolled)   | The number of curricular units enrolled by the student in the first semester. (Numerical)       |
| Curricular units 1st sem (evaluations) | The number of curricular units evaluated by the student in the first semester. (Numerical)     |
| Curricular units 1st sem (approved)    | The number of curricular units approved by the student in the first semester. (Numerical)      |

#### Import Dataset

In [18]:
df = pd.read_csv('data/student_success.csv')
df.head().transpose()

,0,1,2,3,4
Marital status,1,1,1,1,2
Application mode,8,6,1,8,12
Application order,5,1,5,2,1
Course,2,11,5,15,3
Daytime/evening attendance,1,1,1,1,0
Previous qualification,1,1,1,1,1
Nacionality,1,1,1,1,1
Mother's qualification,13,1,22,23,22
Father's qualification,10,3,27,27,28
Mother's occupation,6,4,10,6,10
Father's occupation,10,4,10,4,10
Displaced,1,1,1,1,0
Educational special needs,0,0,0,0,0
Debtor,0,0,0,0,0
Tuition fees up to date,1,0,0,1,1
Gender,1,1,1,0,0
Scholarship holder,0,0,0,0,0
Age at enrollment,20,19,19,20,45
International,0,0,0,0,0
Curricular units 1st sem (credited),0,0,0,0,0
Curricular units 1st sem (enrolled),0,6,6,6,6
Curricular units 1st sem (evaluations),0,6,0,8,9
Curricular units 1st sem (approved),0,6,0,6,5
Curricular units 1st sem (grade),0.0,14.0,0.0,13.428571,12.333333
Curricular units 1st sem (without evaluations),0,0,0,0,0
Curricular units 2nd sem (credited),0,0,0,0,0
Curricular units 2nd sem (enrolled),0,6,6,6,6
Curricular units 2nd sem (evaluations),0,6,0,10,6
Curricular units 2nd sem (approved),0,6,0,5,6
Curricular units 2nd sem (grade),0.0,13.666667,0.0,12.4,13.0
Curricular units 2nd sem (without evaluations),0,0,0,0,0
Unemployment rate,10.8,13.9,10.8,9.4,13.9
Inflation rate,1.4,-0.3,1.4,-0.8,-0.3
GDP,1.74,0.79,1.74,-3.12,0.79
Target,Dropout,Graduate,Dropout,Graduate,Graduate

View the dimensions of the data:

In [19]:
df.shape

(4424, 35)

The data frame has 4,424 rows and 35 columns.

## Data Preprocessing

View basic statistics:

In [20]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Marital status,4424.0,1.178571,0.605747,1.00,1.00,1.000000,1.000000,6.000000
Application mode,4424.0,6.886980,5.298964,1.00,1.00,8.000000,12.000000,18.000000
Application order,4424.0,1.727848,1.313793,0.00,1.00,1.000000,2.000000,9.000000
Course,4424.0,9.899186,4.331792,1.00,6.00,10.000000,13.000000,17.000000
Daytime/evening attendance,4424.0,0.890823,0.311897,0.00,1.00,1.000000,1.000000,1.000000
Previous qualification,4424.0,2.531420,3.963707,1.00,1.00,1.000000,1.000000,17.000000
Nacionality,4424.0,1.254521,1.748447,1.00,1.00,1.000000,1.000000,21.000000
Mother's qualification,4424.0,12.322107,9.026251,1.00,2.00,13.000000,22.000000,29.000000
Father's qualification,4424.0,16.455244,11.044800,1.00,3.00,14.000000,27.000000,34.000000
Mother's occupation,4424.0,7.317812,3.997828,1.00,5.00,6.000000,10.000000,32.000000
Father's occupation,4424.0,7.819168,4.856692,1.00,5.00,8.000000,10.000000,46.000000
Displaced,4424.0,0.548373,0.497711,0.00,0.00,1.000000,1.000000,1.000000
Educational special needs,4424.0,0.011528,0.106760,0.00,0.00,0.000000,0.000000,1.000000
Debtor,4424.0,0.113698,0.317480,0.00,0.00,0.000000,0.000000,1.000000
Tuition fees up to date,4424.0,0.880651,0.324235,0.00,1.00,1.000000,1.000000,1.000000
Gender,4424.0,0.351718,0.477560,0.00,0.00,0.000000,1.000000,1.000000
Scholarship holder,4424.0,0.248418,0.432144,0.00,0.00,0.000000,0.000000,1.000000
Age at enrollment,4424.0,23.265145,7.587816,17.00,19.00,20.000000,25.000000,70.000000
International,4424.0,0.024864,0.155729,0.00,0.00,0.000000,0.000000,1.000000
Curricular units 1st sem (credited),4424.0,0.709991,2.360507,0.00,0.00,0.000000,0.000000,20.000000
Curricular units 1st sem (enrolled),4424.0,6.270570,2.480178,0.00,5.00,6.000000,7.000000,26.000000
Curricular units 1st sem (evaluations),4424.0,8.299051,4.179106,0.00,6.00,8.000000,10.000000,45.000000
Curricular units 1st sem (approved),4424.0,4.706600,3.094238,0.00,3.00,5.000000,6.000000,26.000000
Curricular units 1st sem (grade),4424.0,10.640822,4.843663,0.00,11.00,12.285714,13.400000,18.875000
Curricular units 1st sem (without evaluations),4424.0,0.137658,0.690880,0.00,0.00,0.000000,0.000000,12.000000
Curricular units 2nd sem (credited),4424.0,0.541817,1.918546,0.00,0.00,0.000000,0.000000,19.000000
Curricular units 2nd sem (enrolled),4424.0,6.232143,2.195951,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 2nd sem (evaluations),4424.0,8.063291,3.947951,0.00,6.00,8.000000,10.000000,33.000000
Curricular units 2nd sem (approved),4424.0,4.435805,3.014764,0.00,2.00,5.000000,6.000000,20.000000
Curricular units 2nd sem (grade),4424.0,10.230206,5.210808,0.00,10.75,12.200000,13.333333,18.571429
Curricular units 2nd sem (without evaluations),4424.0,0.150316,0.753774,0.00,0.00,0.000000,0.000000,12.000000
Unemployment rate,4424.0,11.566139,2.663850,7.60,9.40,11.100000,13.900000,16.200000
Inflation rate,4424.0,1.228029,1.382711,-0.80,0.30,1.400000,2.600000,3.700000
GDP,4424.0,0.001969,2.269935,-4.06,-1.70,0.320000,1.790000,3.510000

Display the data types for each variable:

In [21]:
df.dtypes

Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object