In [2]:
import pandas as pd

## **_INTRODUCTION_**
##### Write **example** file

In [3]:
# Create sample data frame from a dictionary.
d = {'Name': ['Ritchie, Darnell', 'Wu, James', 'Downs, Deborah', 'Hoang, Binh', 'Jones, Alissa', 'Afshari, Anbar'], 
    'Salary': [53788.26, 84494.58, 101074.86, 43722.58, 47139.90, 59441.93]}
salary = pd.DataFrame(d)
salary

               Name     Salary
0  Ritchie, Darnell   53788.26
1         Wu, James   84494.58
2    Downs, Deborah  101074.86
3       Hoang, Binh   43722.58
4     Jones, Alissa   47139.90
5    Afshari, Anbar   59441.93

In [4]:
salary["Salary"].mean().round(2)

64943.69

In [5]:
d = pd.read_excel('http://lessRstats.com/data/employee.xlsx')
d

                   Name  Years Gender  Dept     Salary JobSat  Plan  Pre  Post
0      Ritchie, Darnell    7.0      M  ADMN   53788.26    med     1   82    92
1             Wu, James    NaN      M  SALE   94494.58    low     1   62    74
2           Hoang, Binh   15.0      M  SALE  111074.86    low     3   96    97
3         Jones, Alissa    5.0      F   NaN   53772.58    NaN     1   65    62
4        Downs, Deborah    7.0      F  FINC   57139.90   high     2   90    86
5        Afshari, Anbar    6.0      F  ADMN   69441.93   high     2  100   100
6         Knox, Michael   18.0      M  MKTG   99062.66    med     3   81    84
7      Campagna, Justin    8.0      M  SALE   72321.36    low     1   76    84
8       Kimball, Claire    8.0      F  MKTG   61356.69   high     2   93    92
9       Cooper, Lindsay    4.0      F  MKTG   56772.95   high     1   78    91
10     Saechao, Suzanne    8.0      F  SALE   55545.25    med     1   98   100
11          Pham, Scott   13.0      M  SALE   81871.05   high     2   90    94
12           Tian, Fang    9.0      F  ACCT   71084.02    med     2   60    61
13  Bellingar, Samantha   10.0      F  SALE   66337.83    med     1   67    72
14       Sheppard, Cory   14.0      M  FINC   95027.55    low     3   66    73
15        Kralik, Laura   10.0      F  SALE   92681.19    med     2   74    71
16       Skrotzki, Sara   18.0      F  MKTG   91352.33    med     2   63    61
17      Correll, Trevon   21.0      M  SALE  134419.23    low     1   97    94
18        James, Leslie   18.0      F  ADMN  122563.38    low     3   70    70
19     Osterman, Pascal    5.0      M  ACCT   49704.79   high     3   69    70
20         Adib, Hassan   14.0      M  SALE   83014.43    med     2   71    69
21  Gvakharia, Kimberly    3.0      F  SALE   49868.68    med     2   83    79
22     Stanley, Grayson    9.0      M  SALE   69624.87    low     1   74    73
23         Link, Thomas   10.0      M  FINC   66312.89    low     1   83    83
24       Portlock, Ryan   13.0      M  SALE   77714.85    low     1   72    73
25    Langston, Matthew    5.0      M  SALE   49188.96    low     3   94    93
26        Stanley, Emma    3.0      F  ACCT   46124.97   high     2   86    84
27         Singh, Niral    2.0      F  ADMN   61055.44   high     2   59    59
28      Anderson, David    9.0      M  ACCT   69547.60    low     1   94    91
29        Fulton, Scott   13.0      M  SALE   87785.51    low     1   72    73
30   Korhalkar, Jessica    2.0      F  ACCT   72502.50    NaN     2   74    87
31         LaRoe, Maria   10.0      F  MKTG   61961.29   high     2   80    86
32       Billing, Susan    4.0      F  ADMN   72675.26    med     2   91    90
33        Capelle, Adam   24.0      M  ADMN  108138.43    med     2   83    81
34         Hamide, Bita    1.0      F  MKTG   51036.85   high     2   83    90
35  Anastasiou, Crystal    2.0      F  SALE   56508.32    low     2   59    71
36  Cassinelli, Anastis   10.0      M  FINC   57562.36   high     1   80    87

In [6]:
# View shape of data frame
d.shape
# 37 rows, 9 columns

(37, 9)

In [7]:
# View first few rows
d.head(10)

               Name  Years Gender  Dept     Salary JobSat  Plan  Pre  Post
0  Ritchie, Darnell    7.0      M  ADMN   53788.26    med     1   82    92
1         Wu, James    NaN      M  SALE   94494.58    low     1   62    74
2       Hoang, Binh   15.0      M  SALE  111074.86    low     3   96    97
3     Jones, Alissa    5.0      F   NaN   53772.58    NaN     1   65    62
4    Downs, Deborah    7.0      F  FINC   57139.90   high     2   90    86
5    Afshari, Anbar    6.0      F  ADMN   69441.93   high     2  100   100
6     Knox, Michael   18.0      M  MKTG   99062.66    med     3   81    84
7  Campagna, Justin    8.0      M  SALE   72321.36    low     1   76    84
8   Kimball, Claire    8.0      F  MKTG   61356.69   high     2   93    92
9   Cooper, Lindsay    4.0      F  MKTG   56772.95   high     1   78    91

In [8]:
# View the data types
d.dtypes

Name       object
Years     float64
Gender     object
Dept       object
Salary    float64
JobSat     object
Plan        int64
Pre         int64
Post        int64
dtype: object

In [9]:
d

                   Name  Years Gender  Dept     Salary JobSat  Plan  Pre  Post
0      Ritchie, Darnell    7.0      M  ADMN   53788.26    med     1   82    92
1             Wu, James    NaN      M  SALE   94494.58    low     1   62    74
2           Hoang, Binh   15.0      M  SALE  111074.86    low     3   96    97
3         Jones, Alissa    5.0      F   NaN   53772.58    NaN     1   65    62
4        Downs, Deborah    7.0      F  FINC   57139.90   high     2   90    86
5        Afshari, Anbar    6.0      F  ADMN   69441.93   high     2  100   100
6         Knox, Michael   18.0      M  MKTG   99062.66    med     3   81    84
7      Campagna, Justin    8.0      M  SALE   72321.36    low     1   76    84
8       Kimball, Claire    8.0      F  MKTG   61356.69   high     2   93    92
9       Cooper, Lindsay    4.0      F  MKTG   56772.95   high     1   78    91
10     Saechao, Suzanne    8.0      F  SALE   55545.25    med     1   98   100
11          Pham, Scott   13.0      M  SALE   81871.05   high     2   90    94
12           Tian, Fang    9.0      F  ACCT   71084.02    med     2   60    61
13  Bellingar, Samantha   10.0      F  SALE   66337.83    med     1   67    72
14       Sheppard, Cory   14.0      M  FINC   95027.55    low     3   66    73
15        Kralik, Laura   10.0      F  SALE   92681.19    med     2   74    71
16       Skrotzki, Sara   18.0      F  MKTG   91352.33    med     2   63    61
17      Correll, Trevon   21.0      M  SALE  134419.23    low     1   97    94
18        James, Leslie   18.0      F  ADMN  122563.38    low     3   70    70
19     Osterman, Pascal    5.0      M  ACCT   49704.79   high     3   69    70
20         Adib, Hassan   14.0      M  SALE   83014.43    med     2   71    69
21  Gvakharia, Kimberly    3.0      F  SALE   49868.68    med     2   83    79
22     Stanley, Grayson    9.0      M  SALE   69624.87    low     1   74    73
23         Link, Thomas   10.0      M  FINC   66312.89    low     1   83    83
24       Portlock, Ryan   13.0      M  SALE   77714.85    low     1   72    73
25    Langston, Matthew    5.0      M  SALE   49188.96    low     3   94    93
26        Stanley, Emma    3.0      F  ACCT   46124.97   high     2   86    84
27         Singh, Niral    2.0      F  ADMN   61055.44   high     2   59    59
28      Anderson, David    9.0      M  ACCT   69547.60    low     1   94    91
29        Fulton, Scott   13.0      M  SALE   87785.51    low     1   72    73
30   Korhalkar, Jessica    2.0      F  ACCT   72502.50    NaN     2   74    87
31         LaRoe, Maria   10.0      F  MKTG   61961.29   high     2   80    86
32       Billing, Susan    4.0      F  ADMN   72675.26    med     2   91    90
33        Capelle, Adam   24.0      M  ADMN  108138.43    med     2   83    81
34         Hamide, Bita    1.0      F  MKTG   51036.85   high     2   83    90
35  Anastasiou, Crystal    2.0      F  SALE   56508.32    low     2   59    71
36  Cassinelli, Anastis   10.0      M  FINC   57562.36   high     1   80    87