In [1]:
import pandas as pd

_INTRODUCTION_

In [6]:
# Create sample data frame from a dictionary.
d = {'Salary': [43788.26, 84494.58, 101074.86, 43722.58, 47139.90, 59441.93]}
salary = pd.DataFrame(d)
salary

      Salary
0   43788.26
1   84494.58
2  101074.86
3   43722.58
4   47139.90
5   59441.93

In [10]:
salary["Salary"].mean().round(2)

63277.02